@using System.Threading;

@model BusBoard.Web.ViewModels.BusInfo
@{

    ViewBag.Title = "Bus Information";
}

<head>
    <meta http-equiv="refresh" content="5" />
</head>

<h2>BusInfo</h2>
<div class="row">
    <p>You entered postcode @Model.PostCode</p>
</div>
<div>
    @if (Model.BusStops != null)
    {
        foreach (var busStop in Model.BusStops)
        {
            busStop.refreshArrivals();
            <h3>@busStop.StopName</h3>
            <ul>
                @foreach (var arrival in busStop.BusArrivals.OrderBy(x => x.ExpectedArrival))
                {
                    <li>
                        <p>@arrival.LineName towards @arrival.DestinationName</p>
                        <p>Arrives in @((arrival.ExpectedArrival.ToLocalTime() - DateTime.Now).Minutes) minutes</p>
                    </li>
                }
            </ul>
        }
    }
    else
    {
        <p>Invalid Postcode entered</p>
    }
</div>
